<div class="container visible-xs visible-sm small-location" id="contain-small-location">
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <div class="image-small" style="background-image: url('../images/locations/wholly-cow-burgers.jpg')">
        <div class="filler"></div>
        <div class="name">
          WHOLLY COW BURGERS
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <button>ATTEND</button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <div class="image-circles">
        <div class="image-holder"></div>
        <div class="image-holder"></div>
        <div class="image-holder"></div>
        <div class="image-holder last"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <div class="info">
        <span class="phone">Phone: 512-420-6969</span>
        <span class="address">Location: 69 Congress Ave</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <div class="about">
        <span class="title">ABOUT:</span>
        <span class="descript-txt">
          hdllo
        </span>
      </div>
    </div>
  </div>

</div>
