<div class="container visible-xs visible-s">
  <div class="row">
    <div class="col-sm-12 col-xs-12 small-location">
      <div class="image-small">
        <div class="name" id="small_namie">
          ROYAL BLUE GROCERY
        </div>
      </div>
      <button>ATTEND</button>
      <div class="image-circles">
        <div class="image-holder"></div>
        <div class="image-holder"></div>
        <div class="image-holder"></div>
        <div class="image-holder"></div>
      </div>
      <div class="info">
        <span class="phone">Phone: 512-420-6969</span>
        <span class="address">Address: 69 Congress</span>
      </div>
      <div class="about">
        <span class="title">ABOUT:</span>
        <span class="description">
          asdfkljasdlf adlkfjasdlf asdfljasdf lakdjf asdlkfjad flasdkfja sdlfkjasdf awdoifdlkfj asdfl;kasdjf asdkfjasdf asdlkfjadsfa sdfokasdfj asdfkdf asdfkausdf sd;lfkjasdf asdlfkjasdf asdpfoisdlfkjasd sdlfkasjdf asdflaksdfj asdlfkjasdf ads;lfkajsdf awdpofiasduf aasdfoaweadfjasdr awefuasd fasdlkfjasdflkjasdf asdf;lkadf awef;oasdfjsdf dfoiasdf sdf;oiasdgfl; asdf;ioasdfoiadfk asdf;lkjasdf asdfkejre fdsif ASDL ADADADGSDASDFWEFKHWSGVEJWVKJNWsdlker;Wrawwdwsfiblhwp

          wcboaepSdf[afagndfs;d; asdf;oaf;osdf ;l sdf oiA fy;argu;hfkewfwfLorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, suscipit, deleniti, enim assumenda quae a alias ut culpa rem similique tempora nulla minima recusandae quaerat quisquam cumque corrupti eveniet. Repudiandae.
        </span>
      </div>

    </div>
  </div>
</div>
