
<nav class="navbar navbar-default nav-color" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="brand-text" href="#">MAKER<span id="spots">SPOTS</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right drop-nav" >
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="drop-nav">CATAGORIES <b class="caret"></b></a>
          <ul class="dropdown-menu" id="drop-menu">
            <li><a href="#">LUNCH</a></li>
            <li><a href="#">COFFEE</a></li>
            <li><a href="#">STUDY</a></li>
            <li><a href="#">NIGHT LIFE</a></li>
          </ul>
        </li>
        <li><a href="#" id="sign">SIGN IN</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
