<form action = '/add_location' method = "post">
  <input type ='text' name="name" placeholder="NAME"/><br>
  <input type ='text' name="phone" placeholder="PHONE"/><br>
  <input type ='text' name="address" placeholder="ADDRESS"/><br>
  <input type ='text' name="description" placeholder="DESCRIPTION"/><br>
  <input type="submit" value="SUBMIT">
</form>
<a href="/location_list"><button>Show All Locations</button></a>

<button id="show-locations">locations/json</button>

<pre id="locations-raw" style="font-size: 10px; overflow: auto;"></pre>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
	
	$(document).ready(function() {
		$("#show-locations").click(function(event) {
			$.get('/locations/json', function(response) {
				$('#locations-raw').html(JSON.stringify(response.data, undefined, 2));
			});			
		});
	});

</script>