<div class="container">
  <div class="row">
    <div class="image col-sm-6 col-md-6 col-lg-6" style="background-image: url('../images/holder/royalblue.jpg')"></div>
    <div class="about col-sm-6 col-md-6 col-lg-6">
      <div class="title">ROYAL BLUE GROCERY</div>
      <div class="image-circles">
        <div class="image-holder"></div>
        <div class="image-holder"></div>
        <div class="image-holder"></div>
        <div class="image-holder"></div>
      </div>
      <button>ATTEND</button>
    </div>
    <div class="col-md-12 description">
      <div class="contact">
        <span class="heading">Phone:</span>
        <span class="context">512 555-5555</span>
      </div>
      <div class="contact">
        <span class="heading">Address:</span>
        <span class="context">6969 Congress Ave.</span>
      </div>
      <!-- <span class="about-drop">ABOUT:</span> -->
      <span class="info">
        Royal Blue Grocery is a compact urban market with several locations in the heart of downtown Austin, Texas. The stores were created specifically for Austin and the people who live, work, and play downtown. Each store is different from the next, tailored to the neighborhood it serves and the people who frequent it every day. Royal Blue offers a little bit of everything, from the freshly prepared grab-and-go offerings, to conventional grocery and convenience items.
      </span>
    </div>
  </div>

  <div class="row">
    <div class="about col-sm-6 col-md-6 col-lg-6">
      <div class="title" >ROYAL BLUE GROCERY</div>
      <div class="image-circles">
        <div class="image-holder"></div>
        <div class="image-holder"></div>
        <div class="image-holder"></div>
        <div class="image-holder"></div>
      </div>
      <button>ATTEND</button>
    </div>
    <div class="image col-sm-6 col-md-6 col-lg-6" style="background-image: url('../images/holder/whollycow.jpg')"></div>

  </div>
</div>
