<div class="wrapper">
<%= erb :_messages, :layout => false %>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 form-container signin">
        <span class="header">SIGN IN</span>
        <form action = '/new_user_session' method = "post">
          <input type = 'text' id="email" name="email" placeholder="EMAIL"/><br>
          <input type = 'password' id="password" name="password" placeholder="PASSWORD"/><br>
          <input type="submit" value="SIGN IN">
        </form>
      </div>
    </div>

    <div class="col-md-6 col-md-offset-3 form-container signup">
      <span class="header">SIGN UP</span>
      <form action = '/' method = "post" id="landing-form">
        <input type = 'text' id="name" name="name" placeholder="NAME" />
        <input type = 'text' id="email" name="email" placeholder="EMAIL" />
        <input type = 'password' id="password" name="password" placeholder="PASSWORD" />
        <input type="submit" value="SIGN IN">
      </form>
    </div>
  </div>

  <!-- <div class="form-container">
    <div class="signup_form">
      <form action = '/' method = "post" id="landing-form">

          <label for= 'name'>Name</label><br>
          <input type = 'text' id="name" name="name"/><br>

          <label for= 'email'>Email</label><br>
          <input type = 'text' id="email" name="email"/><br>

          <label for= 'password'>Password</label><br>
          <input type = 'text' id="password" name="password"/>

          <input type="submit" value="Sign Up">

      </form>

    </div>

    <div class="signin">
      <span class="header">SIGN IN</span>
      <form action = '/new_user_session' method = "post">
        <input type = 'text' id="email" name="email" placeholder="Email"/><br>
        <input type = 'text' id="password" name="password" placeholder="Password"/><br>
        <input type="submit" value="SIGN IN">
      </form>
    </div>
  </div> -->

</div>

