<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MakerSpots</title>
  <link rel="stylesheet" href="../bootstrap_css/bootstrap.css">
  <link rel="stylesheet" href="../compiled_scss/main.css">
</head>
<body>
<%= yield %>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="../bootstrap_js/bootstrap.min.js"></script>

<!-- partial -->
</body>
</html>
