<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MakerSpots</title>
  <link rel="stylesheet" href="../bootstrap_css/bootstrap.css">
  <link rel="stylesheet" href="../compiled_scss/main.css">
</head>
<body>
<%= erb :_messages, :layout => false %>
<%= erb :_navbar, :layout => false %>
<%= yield %>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="../bootstrap_js/bootstrap.min.js"></script>
<script src="../js/desktop_slidedown.js"></script>
</body>
</html>
